.shop{
   width: 100%;
}
.product-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   margin: 50px 50px;
}
.cart-container{
  
}
@media  screen and (max-width:688px) {
   .product-container{
      grid-template-columns: repeat(1, 1fr);
   }
   .shop{
      width: 100%;
   }
}